.video-title{
    font-family: roboto;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .subheading{
    color: gray;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .subheading2{
    font-size: 15px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
  }

  .subheading3{
    font-size: 15px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .apple{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 42, 42);
    color: white;
    margin-top: 100px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .shopnow:hover{
    text-decoration: underline;
  }
  .shopnow{
    cursor: pointer;
    margin-left: 10px;
  }

  .tahoma{
    font-family: tahoma;
    font-size: 30px;
    font-weight: bold;
  }

  .course{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .subcourse{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 15px;
    margin-top: 5px;
  }
  .subcourse1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 10px;
    width: 250px;
  }

  .getstarted{
    background-color: rgb(5, 146, 17);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 5px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .shopping{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    text-align: center;
  }